In [1]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from math import sin, cos, sqrt, atan2, radians
from sklearn.cluster import DBSCAN,KMeans
import random as rd
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
import matplotlib.pyplot as plt

In [2]:
# Read first 2500000 rows of train file
df=pd.read_csv('new_train.csv',nrows=4000000)
df=df[df['dropoff_latitude'].notnull()]
del df['Unnamed: 0']
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1

In [3]:
# Read test file for rest of the preprocessing
dftest=pd.read_csv('test.csv')
dftest.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

In [4]:
# Split pickup_datetime into date and time
df['Date']=df.pickup_datetime.str.slice(start=0,stop=10)
df['Time']=df.pickup_datetime.str.slice(start=11,stop=19)
df.head()

df['Date']=pd.to_datetime(arg=df.Date)
df['month']=pd.DatetimeIndex(df.Date).month
df['year']=pd.DatetimeIndex(df.Date).year
df['weekday']=pd.DatetimeIndex(df.Date).weekday
df['hour']=pd.DatetimeIndex(df.key).hour
df['week_of_month']=pd.DatetimeIndex(df.key).day%7
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,3,2010,6,0,0
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,12,2009,1,9,1
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,2,2010,5,12,6
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,8,2012,4,14,3
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,5,2015,1,22,5

In [5]:
# For test file
# Split pickup_datetime into date and time
dftest['Date']=dftest.pickup_datetime.str.slice(start=0,stop=10)
dftest['Time']=dftest.pickup_datetime.str.slice(start=11,stop=19)
dftest.head()

dftest['Date']=pd.to_datetime(arg=dftest.Date)
dftest['month']=pd.DatetimeIndex(dftest.Date).month
dftest['year']=pd.DatetimeIndex(dftest.Date).year
dftest['weekday']=pd.DatetimeIndex(dftest.Date).weekday
dftest['hour']=pd.DatetimeIndex(dftest.key).hour
dftest['week_of_month']=pd.DatetimeIndex(dftest.key).day%7
dftest.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1,2015-01-27,13:08:24,1,2015,1,13,6
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1,2015-01-27,13:08:24,1,2015,1,13,6
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1,2011-10-08,11:53:44,10,2011,5,11,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1,2012-12-01,21:12:12,12,2012,5,21,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1,2012-12-01,21:12:12,12,2012,5,21,1

In [6]:
def preprocess_hour(val):
    if val>=17:
        return 1
    elif val>7 and val<17:
        return 2
    elif val==0:
        return 3
    else:
        return 4

df['processed_hour_num_of_records']=df['hour'].apply(preprocess_hour)
dftest['processed_hour_num_of_records']=dftest['hour'].apply(preprocess_hour)
dftest.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month,processed_hour_num_of_records
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1,2015-01-27,13:08:24,1,2015,1,13,6,2
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1,2015-01-27,13:08:24,1,2015,1,13,6,2
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1,2011-10-08,11:53:44,10,2011,5,11,1,2
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1,2012-12-01,21:12:12,12,2012,5,21,1,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1,2012-12-01,21:12:12,12,2012,5,21,1,1

In [7]:
di=df[['hour','fare_amount']].groupby([ "hour"]).median().to_dict()
def process_hour_fare(val):
    return di['fare_amount'][val]

df['processed_hour_fare']=df['hour'].apply(process_hour_fare)
dftest['processed_hour_fare']=dftest['hour'].apply(process_hour_fare)
dftest.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month,processed_hour_num_of_records,processed_hour_fare
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1,2015-01-27,13:08:24,1,2015,1,13,6,2,8.5
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1,2015-01-27,13:08:24,1,2015,1,13,6,2,8.5
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1,2011-10-08,11:53:44,10,2011,5,11,1,2,8.5
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1,2012-12-01,21:12:12,12,2012,5,21,1,1,8.5
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1,2012-12-01,21:12:12,12,2012,5,21,1,1,8.5

In [8]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month,processed_hour_num_of_records,processed_hour_fare
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,3,2010,6,0,0,3,8.9
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,12,2009,1,9,1,2,8.5
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,2,2010,5,12,6,2,8.1
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,8,2012,4,14,3,2,8.5
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,5,2015,1,22,5,1,8.5

In [9]:
def distance(coord1lat, coord1lon, coord2lat, coord2lon):
    R = 6373.0
    lat1 = radians(float(coord1lat))
    lon1 = radians(float(coord1lon))
    lat2 = radians(float(coord2lat))
    lon2 = radians(float(coord2lon))

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c

    return distance

def manhattan(coord1lat, coord1lon, coord2lat, coord2lon):
    d1=distance(coord1lat, coord2lon, coord2lat, coord2lon)
    d2=distance(coord1lat, coord1lon, coord1lat, coord2lon)
    
    return d1+d2

In [10]:
df['Distance']=df[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']].apply(lambda x: distance(x[0], x[1], x[2], x[3]), axis=1)
df['Manhattan_Distance']=df[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']].apply(lambda x: manhattan(x[0], x[1], x[2], x[3]), axis=1)
dftest['Distance']=dftest[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']].apply(lambda x: distance(x[0], x[1], x[2], x[3]), axis=1)
dftest['Manhattan_Distance']=dftest[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']].apply(lambda x: manhattan(x[0], x[1], x[2], x[3]), axis=1)

max(dftest['Manhattan_Distance'])

141.11721758277946

In [11]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month,processed_hour_num_of_records,processed_hour_fare,Distance,Manhattan_Distance
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,3,2010,6,0,0,3,8.9,5.972559,8.199672
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,12,2009,1,9,1,2,8.5,9.555103,11.133425
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,2,2010,5,12,6,2,8.1,0.557775,0.762099
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,8,2012,4,14,3,2,8.5,2.306489,2.879497
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,5,2015,1,22,5,1,8.5,6.918961,8.914686

In [12]:
# Clustering using DBSCAN
#clus=DBSCAN(eps=0.0002353, min_samples=4,algorithm='ball_tree',metric='haversine')
clus=KMeans(n_clusters=25)
df['Pickup_clusters']=clus.fit_predict(df[['pickup_latitude','pickup_longitude']].values)
dftest['Pickup_clusters']=clus.predict(dftest[['pickup_latitude','pickup_longitude']].values)

In [13]:
# df.plot.scatter(y='pickup_latitude',x='pickup_longitude')
# plt.show()
dftest.loc[dftest['Distance']==0,:]

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,year,weekday,hour,week_of_month,processed_hour_num_of_records,processed_hour_fare,Distance,Manhattan_Distance,Pickup_clusters
121,2014-06-14 13:39:00.000000191,2014-06-14 13:39:00 UTC,-73.980590,40.747682,-73.980590,40.747682,1,2014-06-14,13:39:00,6,2014,5,13,0,2,8.5,0.0,0.0,22
279,2010-09-05 22:31:32.0000002,2010-09-05 22:31:32 UTC,-74.047394,40.785789,-74.047394,40.785789,1,2010-09-05,22:31:32,9,2010,6,22,5,1,8.5,0.0,0.0,13
318,2009-06-10 16:55:00.000000131,2009-06-10 16:55:00 UTC,-73.985862,40.744027,-73.985862,40.744027,1,2009-06-10,16:55:00,6,2009,2,16,3,2,8.1,0.0,0.0,4
417,2011-06-24 12:03:00.000000145,2011-06-24 12:03:00 UTC,-73.964615,40.777620,-73.964615,40.777620,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,6
423,2011-06-24 12:03:00.00000086,2011-06-24 12:03:00 UTC,-73.955065,40.771505,-73.955065,40.771505,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,6
434,2011-06-24 12:03:00.000000173,2011-06-24 12:03:00 UTC,-73.960738,40.775717,-73.960738,40.775717,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,6
451,2011-06-24 12:03:00.00000047,2011-06-24 12:03:00 UTC,-73.967895,40.765477,-73.967895,40.765477,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,0
491,2011-06-24 12:03:00.00000076,2011-06-24 12:03:00 UTC,-73.830820,40.759288,-73.830820,40.759288,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,19
498,2011-06-24 12:03:00.00000051,2011-06-24 12:03:00 UTC,-73.945490,40.752820,-73.945490,40.752820,1,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,16
666,2012-11-11 20:35:40.0000002,2012-11-11 20:35:40 UTC,-73.970087,40.755266,-73.970087,40.755266,1,2012-11-11,20:35:40,11,2012,6,20,4,1,8.1,0.0,0.0,22
781,2011-06-01 07:37:00.000000212,2011-06-01 07:37:00 UTC,-73.989905,40.734030,-73.989905,40.734030,1,2011-06-01,07:37:00,6,2011,2,7,1,4,8.0,0.0,0.0,4
860,2010-08-27 18:45:00.000000196,2010-08-27 18:45:00 UTC,-73.999005,40.754848,-73.999005,40.754848,1,2010-08-27,18:45:00,8,2010,4,18,6,1,8.5,0.0,0.0,13
943,2011-02-12 00:43:24.0000001,2011-02-12 00:43:24 UTC,-73.971961,40.760160,-73.971961,40.760160,1,2011-02-12,00:43:24,2,2011,5,0,5,3,8.9,0.0,0.0,0
976,2010-08-14 02:13:00.00000032,2010-08-14 02:13:00 UTC,-73.990053,40.748000,-73.990053,40.748000,1,2010-08-14,02:13:00,8,2010,5,2,0,4,9.0,0.0,0.0,13
981,2010-08-14 02:13:00.000000116,2010-08-14 02:13:00 UTC,-73.992402,40.748773,-73.992402,40.748773,1,2010-08-14,02:13:00,8,2010,5,2,0,4,9.0,0.0,0.0,13
1176,2010-09-29 16:43:00.00000086,2010-09-29 16:43:00 UTC,-73.980442,40.760768,-73.980442,40.760768,1,2010-09-29,16:43:00,9,2010,2,16,1,2,8.1,0.0,0.0,9
1189,2010-09-29 16:43:00.000000133,2010-09-29 16:43:00 UTC,-73.964303,40.774320,-73.964303,40.774320,1,2010-09-29,16:43:00,9,2010,2,16,1,2,8.1,0.0,0.0,6
1218,2010-09-29 16:43:00.00000076,2010-09-29 16:43:00 UTC,-73.953045,40.809783,-73.953045,40.809783,1,2010-09-29,16:43:00,9,2010,2,16,1,2,8.1,0.0,0.0,15
1245,2010-09-29 16:43:00.0000008,2010-09-29 16:43:00 UTC,-73.924907,40.745833,-73.924907,40.745833,1,2010-09-29,16:43:00,9,2010,2,16,1,2,8.1,0.0,0.0,16
1409,2012-11-03 17:11:00.000000143,2012-11-03 17:11:00 UTC,-73.954875,40.769295,-73.954875,40.769295,1,2012-11-03,17:11:00,11,2012,5,17,3,1,8.5,0.0,0.0,6
1429,2012-11-03 17:11:00.0000008,2012-11-03 17:11:00 UTC,-73.953083,40.812757,-73.953083,40.812757,1,2012-11-03,17:11:00,11,2012,5,17,3,1,8.5,0.0,0.0,15
1562,2011-06-20 09:55:24.0000004,2011-06-20 09:55:24 UTC,-74.005821,40.735943,-74.005821,40.735943,1,2011-06-20,09:55:24,6,2011,0,9,6,2,8.5,0.0,0.0,20
1706,2011-10-04 09:37:00.00000029,2011-10-04 09:37:00 UTC,-73.906437,40.768967,-73.906437,40.768967,1,2011-10-04,09:37:00,10,2011,1,9,4,2,8.5,0.0,0.0,16
1719,2011-10-04 09:37:00.00000075,2011-10-04 09:37:00 UTC,-74.003757,40.739223,-74.003757,40.739223,1,2011-10-04,09:37:00,10,2011,1,9,4,2,8.5,0.0,0.0,20
1742,2012-10-18 21:06:20.0000005,2012-10-18 21:06:20 UTC,-73.962342,40.760760,-73.962342,40.760760,1,2012-10-18,21:06:20,10,2012,3,21,4,1,8.5,0.0,0.0,0
1809,2014-04-21 16:00:36.0000003,2014-04-21 16:00:36 UTC,-73.964849,40.766825,-73.964849,40.766825,1,2014-04-21,16:00:36,4,2014,0,16,0,2,8.1,0.0,0.0,0
2071,2011-12-13 22:00:00.000000254,2011-12-13 22:00:00 UTC,-73.956040,40.803803,-73.956040,40.803803,1,2011-12-13,22:00:00,12,2011,1,22,6,1,8.5,0.0,0.0,15
2117,2011-12-13 22:00:00.0000007,2011-12-13 22:00:00 UTC,-73.970485,40.749837,-73.970485,40.749837,1,2011-12-13,22:00:00,12,2011,1,22,6,1,8.5,0.0,0.0,22
2131,2011-12-13 22:00:00.00000089,2011-12-13 22:00:00 UTC,-73.988867,40.742575,-73.988867,40.742575,1,2011-12-13,22:00:00,12,2011,1,22,6,1,8.5,0.0,0.0,4
2139,2012-03-12 09:50:24.0000001,2012-03-12 09:50:24 UTC,-73.961687,40.760144,-73.961687,40.760144,1,2012-03-12,09:50:24,3,2012,0,9,5,2,8.5,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6525,2010-05-02 12:39:55.0000002,2010-05-02 12:39:55 UTC,-73.953666,40.767114,-73.953666,40.767114,1,2010-05-02,12:39:55,5,2010,6,12,2,2,8.1,0.0,0.0,6
6826,2015-05-12 08:31:07.0000004,2015-05-12 08:31:07 UTC,-73.894485,40.830456,-73.894485,40.830456,1,2015-05-12,08:31:07,5,2015,1,8,5,2,8.1,0.0,0.0,15
6954,2010-03-20 21:35:20.0000002,2010-03-20 21:35:20 UTC,-73.936749,40.748523,-73.936749,40.748523,2,2010-03-20,21:35:20,3,2010,5,21,6,1,8.5,0.0,0.0,16
7163,2010-08-14 02:13:00.0000003,2010-08-14 02:13:00 UTC,-74.046277,40.827915,-74.046277,40.827915,2,2010-08-14,02:13:00,8,2010,5,2,0,4,9.0,0.0,0.0,11
7198,2010-09-29 16:43:00.000000172,2010-09-29 16:43:00 UTC,-73.983923,40.774765,-73.983923,40.774765,2,2010-09-29,16:43:00,9,2010,2,16,1,2,8.1,0.0,0.0,9
7322,2011-10-04 09:37:00.00000077,2011-10-04 09:37:00 UTC,-73.940717,40.803238,-73.940717,40.803238,2,2011-10-04,09:37:00,10,2011,1,9,4,2,8.5,0.0,0.0,15
7526,2011-03-06 21:01:00.00000081,2011-03-06 21:01:00 UTC,-73.789468,40.654585,-73.789468,40.654585,2,2011-03-06,21:01:00,3,2011,6,21,6,1,8.5,0.0,0.0,1
7607,2012-01-26 07:33:00.000000136,2012-01-26 07:33:00 UTC,-73.958565,40.759662,-73.958565,40.759662,2,2012-01-26,07:33:00,1,2012,3,7,5,4,8.0,0.0,0.0,0
7610,2012-01-26 07:33:00.00000023,2012-01-26 07:33:00 UTC,-73.977613,40.748120,-73.977613,40.748120,2,2012-01-26,07:33:00,1,2012,3,7,5,4,8.0,0.0,0.0,22
7637,2010-12-09 07:29:00.00000083,2010-12-09 07:29:00 UTC,-73.980700,40.747953,-73.980700,40.747953,2,2010-12-09,07:29:00,12,2010,3,7,2,4,8.0,0.0,0.0,22
7839,2012-12-15 06:35:45.0000001,2012-12-15 06:35:45 UTC,-73.985492,40.698672,-73.985492,40.698672,2,2012-12-15,06:35:45,12,2012,5,6,1,4,7.7,0.0,0.0,24
7874,2009-06-02 08:34:33.0000001,2009-06-02 08:34:33 UTC,-73.978301,40.715627,-73.978301,40.715627,2,2009-06-02,08:34:33,6,2009,1,8,2,2,8.1,0.0,0.0,17
7994,2013-01-19 20:19:45.0000002,2013-01-19 20:19:45 UTC,-73.983774,40.729806,-73.983774,40.729806,2,2013-01-19,20:19:45,1,2013,5,20,5,1,8.1,0.0,0.0,17
8159,2011-07-20 08:05:02.0000001,2011-07-20 08:05:02 UTC,-74.046958,40.757302,-74.046958,40.757302,2,2011-07-20,08:05:02,7,2011,2,8,6,2,8.1,0.0,0.0,20
8381,2009-07-30 15:49:15.0000002,2009-07-30 15:49:15 UTC,-73.137393,41.366138,-73.137393,41.366138,2,2009-07-30,15:49:15,7,2009,3,15,2,2,8.5,0.0,0.0,3
8424,2009-06-10 16:55:00.000000155,2009-06-10 16:55:00 UTC,-73.988477,40.718737,-73.988477,40.718737,3,2009-06-10,16:55:00,6,2009,2,16,3,2,8.1,0.0,0.0,17
8426,2011-06-24 12:03:00.000000131,2011-06-24 12:03:00 UTC,-73.955625,40.779742,-73.955625,40.779742,3,2011-06-24,12:03:00,6,2011,4,12,3,2,8.1,0.0,0.0,6
8517,2011-03-11 01:44:00.00000067,2011-03-11 01:44:00 UTC,-73.982675,40.742583,-73.982675,40.742583,3,2011-03-11,01:44:00,3,2011,4,1,4,4,8.9,0.0,0.0,4
8596,2010-09-20 16:48:00.00000021,2010-09-20 16:48:00 UTC,-73.982960,40.724925,-73.982960,40.724925,3,2010-09-20,16:48:00,9,2010,0,16,6,2,8.1,0.0,0.0,17
8632,2009-10-29 10:48:40.0000003,2009-10-29 10:48:40 UTC,-73.996274,40.751946,-73.996274,40.751946,3,2009-10-29,10:48:40,10,2009,3,10,1,2,8.1,0.0,0.0,13
8835,2012-12-01 21:12:12.0000001,2012-12-01 21:12:12 UTC,-73.880419,40.741367,-73.880419,40.741367,4,2012-12-01,21:12:12,12,2012,5,21,1,1,8.5,0.0,0.0,5
9006,2013-07-02 22:27:14.0000001,2013-07-02 22:27:14 UTC,-73.988070,40.622553,-73.988070,40.622553,4,2013-07-02,22:27:14,7,2013,1,22,2,1,8.5,0.0,0.0,14
9221,2010-08-27 18:45:00.000000215,2010-08-27 18:45:00 UTC,-73.971985,40.745787,-73.971985,40.745787,5,2010-08-27,18:45:00,8,2010,4,18,6,1,8.5,0.0,0.0,22
9383,2011-03-11 01:44:00.00000064,2011-03-11 01:44:00 UTC,-73.957203,40.774993,-73.957203,40.774993,5,2011-03-11,01:44:00,3,2011,4,1,4,4,8.9,0.0,0.0,6
9421,2011-10-04 09:37:00.00000088,2011-10-04 09:37:00 UTC,-73.982497,40.754883,-73.982497,40.754883,5,2011-10-04,09:37:00,10,2011,1,9,4,2,8.5,0.0,0.0,22
9478,2011-12-13 22:00:00.00000044,2011-12-13 22:00:00 UTC,-73.946078,40.749467,-73.946078,40.749467,5,2011-12-13,22:00:00,12,2011,1,22,6,1,8.5,0.0,0.0,16
9500,2014-07-21 18:19:00.00000025,2014-07-21 18:19:00 UTC,-73.975767,40.752947,-73.975767,40.752947,5,2014-07-21,18:19:00,7,2014,0,18,0,1,8.5,0.0,0.0,22
9563,2011-03-06 21:01:00.00000018,2011-03-06 21:01:00 UTC,-73.990780,40.724202,-73.990780,40.724202,5,2011-03-06,21:01:00,3,2011,6,21,6,1,8.5,0.0,0.0,17
9830,2014-07-21 18:19:00.00000065,2014-07-21 18:19:00 UTC,-73.981425,40.773935,-73.981425,40.773935,6,2014-07-21,18:19:00,7,2014,0,18,0,1,8.5,0.0,0.0,9
9888,2013-09-25 22:00:00.000000146,2013-09-25 22:00:00 UTC,-73.956488,40.767512,-73.956488,40.767512,6,2013-09-25,22:00:00,9,2013,2,22,4,1,8.5,0.0,0.0,6

In [14]:
#clus=DBSCAN(eps=0.0002353, min_samples=4,algorithm='ball_tree',metric='haversine')
clus=KMeans(n_clusters=25)
df['Dropoff_clusters']=clus.fit_predict(df[['dropoff_latitude','dropoff_longitude']].values)
dftest['Dropoff_clusters']=clus.predict(dftest[['dropoff_latitude','dropoff_longitude']].values)

In [15]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,...,year,weekday,hour,week_of_month,processed_hour_num_of_records,processed_hour_fare,Distance,Manhattan_Distance,Pickup_clusters,Dropoff_clusters
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,...,2010,6,0,0,3,8.9,5.972559,8.199672,17,14
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,...,2009,1,9,1,2,8.5,9.555103,11.133425,9,8
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,...,2010,5,12,6,2,8.1,0.557775,0.762099,0,0
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,...,2012,4,14,3,2,8.5,2.306489,2.879497,22,4
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,...,2015,1,22,5,1,8.5,6.918961,8.914686,22,3

In [16]:
di=df[['Pickup_clusters','fare_amount']].groupby(["Pickup_clusters"]).median().to_dict()
def process_pickup_fare(val):
    return di['fare_amount'][val]

df['processed_pickup_fare']=df['Pickup_clusters'].apply(process_pickup_fare)
dftest['processed_pickup_fare']=dftest['Pickup_clusters'].apply(process_pickup_fare)

In [17]:
di=df[['Dropoff_clusters','fare_amount']].groupby(["Dropoff_clusters"]).median().to_dict()
def process_dropoff_fare(val):
    return di['fare_amount'][val]

df['processed_dropoff_fare']=df['Dropoff_clusters'].apply(process_dropoff_fare)
dftest['processed_dropoff_fare']=dftest['Dropoff_clusters'].apply(process_dropoff_fare)

KeyError: (58, 17)

In [19]:
di=df[['Pickup_clusters','Dropoff_clusters','fare_amount']].groupby(['Pickup_clusters',"Dropoff_clusters"]).median().to_dict()
def process_route_fare(val):
    return di['fare_amount'][val]

df['processed_route_fare']=df[['Pickup_clusters','Dropoff_clusters']].apply(lambda x:process_route_fare((x.Pickup_clusters,x.Dropoff_clusters)),axis=1)
dftest['processed_route_fare']=dftest[['Pickup_clusters','Dropoff_clusters']].apply(lambda x:process_route_fare((x.Pickup_clusters,x.Dropoff_clusters)),axis=1)

In [20]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,...,week_of_month,processed_hour_num_of_records,processed_hour_fare,Distance,Manhattan_Distance,Pickup_clusters,Dropoff_clusters,processed_pickup_fare,processed_dropoff_fare,processed_route_fare
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,...,0,3,8.9,5.972559,8.199672,17,14,8.9,7.7,14.1
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,...,1,2,8.5,9.555103,11.133425,9,8,8.1,28.9,32.5
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,...,6,2,8.1,0.557775,0.762099,0,0,7.5,7.7,5.5
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,...,3,2,8.5,2.306489,2.879497,22,4,7.7,7.5,6.1
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,...,5,1,8.5,6.918961,8.914686,22,3,7.7,10.0,14.5

In [21]:
di=df[['Pickup_clusters','Dropoff_clusters','fare_amount']].groupby(['Pickup_clusters',"Dropoff_clusters"]).count().to_dict()
def process_route_popularity(val):
    return di['fare_amount'][val]

df['processed_route_rank']=df[['Pickup_clusters','Dropoff_clusters']].apply(lambda x:process_route_popularity((x.Pickup_clusters,x.Dropoff_clusters)),axis=1)
dftest['processed_route_rank']=dftest[['Pickup_clusters','Dropoff_clusters']].apply(lambda x:process_route_popularity((x.Pickup_clusters,x.Dropoff_clusters)),axis=1)

In [22]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,...,processed_hour_num_of_records,processed_hour_fare,Distance,Manhattan_Distance,Pickup_clusters,Dropoff_clusters,processed_pickup_fare,processed_dropoff_fare,processed_route_fare,processed_route_rank
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,...,3,8.9,5.972559,8.199672,17,14,8.9,7.7,14.1,16388
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,...,2,8.5,9.555103,11.133425,9,8,8.1,28.9,32.5,8765
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,...,2,8.1,0.557775,0.762099,0,0,7.5,7.7,5.5,92983
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,...,2,8.5,2.306489,2.879497,22,4,7.7,7.5,6.1,88510
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,...,1,8.5,6.918961,8.914686,22,3,7.7,10.0,14.5,5795

In [23]:
di=df[['Pickup_clusters','Dropoff_clusters','passenger_count','fare_amount']].groupby(['Pickup_clusters',"Dropoff_clusters",'passenger_count']).median().to_dict()
def process_route_people_fare(val):
    return di['fare_amount'][val]

df['processed_route_people_fare']=df[['Pickup_clusters','Dropoff_clusters','passenger_count']].apply(lambda x:process_route_people_fare((x.Pickup_clusters,x.Dropoff_clusters,x.passenger_count)),axis=1)
dftest['processed_route_people_fare']=dftest[['Pickup_clusters','Dropoff_clusters','passenger_count']].apply(lambda x:process_route_people_fare((x.Pickup_clusters,x.Dropoff_clusters,x.passenger_count)),axis=1)
dftest.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,month,...,processed_hour_fare,Distance,Manhattan_Distance,Pickup_clusters,Dropoff_clusters,processed_pickup_fare,processed_dropoff_fare,processed_route_fare,processed_route_rank,processed_route_people_fare
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1,2015-01-27,13:08:24,1,...,8.5,2.323989,2.904495,0,4,7.5,7.5,8.5,56004,8.5
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1,2015-01-27,13:08:24,1,...,8.5,2.426114,3.217929,17,17,8.9,7.5,7.5,46827,7.3
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1,2011-10-08,11:53:44,10,...,8.5,0.618822,0.811441,22,4,7.7,7.5,6.1,88510,6.1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1,2012-12-01,21:12:12,12,...,8.5,1.961648,2.581242,9,4,8.1,7.5,8.5,51438,8.5
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1,2012-12-01,21:12:12,12,...,8.5,5.388992,6.940452,11,4,8.0,7.5,13.3,12662,13.3

In [29]:
df.processed_hour_num_of_records

0          3
1          2
2          2
3          2
4          1
5          1
6          4
7          1
8          4
9          4
10         1
11         2
12         2
13         1
14         1
15         2
16         2
17         2
18         2
19         2
20         2
21         1
22         2
23         1
24         2
25         2
26         1
27         1
28         2
29         2
          ..
3999970    2
3999971    2
3999972    3
3999973    2
3999974    1
3999975    2
3999976    1
3999977    2
3999978    4
3999979    4
3999980    2
3999981    4
3999982    1
3999983    2
3999984    2
3999985    2
3999986    1
3999987    1
3999988    1
3999989    2
3999990    3
3999991    1
3999992    1
3999993    1
3999994    1
3999995    4
3999996    1
3999997    2
3999998    2
3999999    2
Name: processed_hour_num_of_records, Length: 4000000, dtype: int64

In [32]:
di=df[['Pickup_clusters','Dropoff_clusters','processed_hour_num_of_records','passenger_count','fare_amount']].groupby(['Pickup_clusters',"Dropoff_clusters",'processed_hour_num_of_records','passenger_count']).median().to_dict()
def process_route_hour_people_fare(val):
    return di['fare_amount'][val]

df['processed_route_hour_people_fare']=df[['Pickup_clusters','Dropoff_clusters','processed_hour_num_of_records','passenger_count']].apply(lambda x:process_route_hour_people_fare((x.Pickup_clusters,x.Dropoff_clusters,x.processed_hour_num_of_records,x.passenger_count)),axis=1)
dftest['processed_route_hour_people_fare']=dftest[['Pickup_clusters','Dropoff_clusters','processed_hour_num_of_records','passenger_count']].apply(lambda x:process_route_hour_people_fare((x.Pickup_clusters,x.Dropoff_clusters,x.processed_hour_num_of_records,x.passenger_count)),axis=1)
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,Date,Time,...,Distance,Manhattan_Distance,Pickup_clusters,Dropoff_clusters,processed_pickup_fare,processed_dropoff_fare,processed_route_fare,processed_route_rank,processed_route_people_fare,processed_route_hour_people_fare
0,2010-03-28 00:13:01.0000002,11.3,2010-03-28 00:13:01 UTC,-73.992285,40.727372,-73.955689,40.773357,1,2010-03-28,00:13:01,...,5.972559,8.199672,17,14,8.9,7.7,14.1,16388,14.10,13.70
1,2009-12-29 09:21:00.00000037,28.1,2009-12-29 09:21:00 UTC,-73.984918,40.758758,-73.873383,40.774368,1,2009-12-29,09:21:00,...,9.555103,11.133425,9,8,8.1,28.9,32.5,8765,32.27,33.83
2,2010-02-13 12:34:29.0000001,3.3,2010-02-13 12:34:29 UTC,-73.968866,40.754251,-73.974596,40.751740,1,2010-02-13,12:34:29,...,0.557775,0.762099,0,0,7.5,7.7,5.5,92983,5.50,5.70
3,2012-08-03 14:27:00.000000205,7.7,2012-08-03 14:27:00 UTC,-73.976125,40.760132,-73.984120,40.740300,2,2012-08-03,14:27:00,...,2.306489,2.879497,22,4,7.7,7.5,6.1,88510,6.10,6.50
4,2015-05-19 22:33:02.0000009,18.0,2015-05-19 22:33:02 UTC,-73.977867,40.749809,-73.948914,40.808022,1,2015-05-19,22:33:02,...,6.918961,8.914686,22,3,7.7,10.0,14.5,5795,14.50,14.10

In [ ]:
# # Test - Train Split
# train=rd.sample(range(len(df)),round(0.8*len(df)))
# test=list(set(range(len(df)))-set(train))

In [33]:
# dftrain=df.iloc[train,:]
# dftest=df.iloc[test,:]
df.to_csv('final_train2.csv')
dftest.to_csv('final_test2.csv')
print (len(df),len(dftest))

4000000 9914

In [ ]:
cols=['passenger_count', 'month', 'year', 'weekday', 'hour',
       'week_of_month', 'processed_hour_num_of_records', 'processed_hour_fare',
       'Distance', 'Manhattan_Distance', 'Pickup_clusters', 'Dropoff_clusters',
       'processed_pickup_fare', 'processed_dropoff_fare',
       'processed_route_fare', 'processed_route_rank',
       'processed_route_people_fare', 'processed_route_hour_people_fare']
labelcol='fare_amount'

In [ ]:
reg1=LinearRegression()
reg1.fit(dftrain[cols].values,dftrain[labelcol].values)
np.sqrt(mean_squared_error(dftest[labelcol].values,reg1.predict(dftest[cols].values)))

In [ ]:
reg2=RandomForestRegressor(n_estimators=100)
reg2.fit(dftrain[cols].values,dftrain[labelcol].values)
np.sqrt(mean_squared_error(dftest[labelcol].values,reg2.predict(dftest[cols].values)))

In [ ]:
reg3=RandomForestRegressor(n_estimators=50)
reg3.fit(dftrain[cols].values,dftrain[labelcol].values)
np.sqrt(mean_squared_error(dftest[labelcol].values,reg3.predict(dftest[cols].values)))

In [ ]:
reg4=RandomForestRegressor(n_estimators=200)
reg4.fit(dftrain[cols].values,dftrain[labelcol].values)
np.sqrt(mean_squared_error(dftest[labelcol].values,reg4.predict(dftest[cols].values)))

In [ ]:
reg5=SVR()
reg5.fit(dftrain[cols].values,dftrain[labelcol].values)
np.sqrt(mean_squared_error(dftest[labelcol].values,reg5.predict(dftest[cols].values)))

In [ ]:
np.sqrt(mean_squared_error(dftest[labelcol].values,reg5.predict(dftest[cols].values)))

In [ ]:
reg4.feature_importances_

In [ ]:
test=pd.read_csv('test.csv')
len(test)